@model IEnumerable<ZenithDataLib.Model.Event>

@{
    ViewBag.Title = "Index";
}

@{
    var datelist = (List<DateTime>)ViewData["MyData"]; // Cast the list
}

<br />
<br />

<div class="home-container">
    @foreach (var c in datelist) // Print the list
    {
        <div class="headline">

            @Html.Label(c.ToString("MM/dd/yyyy"))

        </div>

        <table class="table-home">


            <tr class="row-home">

                <th class="column-home">
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th class="column-home">
                    @Html.DisplayNameFor(model => model.ToDate)
                </th>
                <th class="column-home3">
                    @Html.DisplayNameFor(model => model.Activity.ActivityDec)
                </th>

            </tr>

            @foreach (var item in Model)
            {

                if (c == item.FromDate)
                {
                    <tr>

                        <td class="column-home">
                            @Html.DisplayFor(modelItem => item.FromDate)
                        </td>
                        <td class="column-home">
                            @Html.DisplayFor(modelItem => item.ToDate)
                        </td>
                        <td class="column-home">
                            @Html.DisplayFor(modelItem => item.Activity.ActivityDec)
                        </td>

                    </tr>

                }

            }
        </table>
    }
</div>
